<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>HowToGo</servlet-name>
		<servlet-class>appspot.HowToGoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Connect</servlet-name>
		<servlet-class>appspot.ConnectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Tan</servlet-name>
		<servlet-class>appspot.TanServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HowToGo</servlet-name>
		<url-pattern>/howtogo</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Connect</servlet-name>
		<url-pattern>/connect</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Tan</servlet-name>
		<url-pattern>/tan</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
